<div class="accordion" id="accordionitem">
    <div class="card  ">
        <div class="card-header bg-warning text-center" id="headingOne" data-toggle="collapse" data-target="#collapseinformation" >
        <h4>Items</h4>
        </div>
        <div id="collapseinformation" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionitem">
            <div class="card-body border border-warning">
                <form role="form" class="form-width">
                    <div class="form-group text-left">
                        <h5>Información</h5>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group active-amber-textarea">
                            <label for="propagation">Morfologia</label>
                            <textarea id="propagation" class="md-textarea form-control" name="textarea-subitem"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-outline-warning col-md-4" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
