<div class="container my-4">
    <div class="titleTables">
      <h2 class="d-flex m-0 align-items-center">Listado de sub-propiedades</h2>
      <button [routerLink]="['creator']" class="btn bg-transparent d-flex align-items-center"><i class="fa fa-plus"></i></button>
    </div>

    <form ngNativeValidate class="form group">
      <div class="row">
        <div class="col-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar por nombre...">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <ng-multiselect-dropdown
            name="test"
          [placeholder]="'custom placeholder'"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
    </form>
    <div class="col-12">
      <div class="w-100 d-flex justify-content-start">
        <p class="text-muted"> 20 resultados</p>
      </div>

      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nombre</th>
          <th scope="col">propiedad</th>
          <th scope="col">idioma - propiedad</th>
          <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>1</th>
          <td>Mark</td>
          <td>properties</td>
          <td>language</td>
          <td class="text-center">
            <button [routerLink]="['editor']" class="btn">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th>1</th>
          <td>Mark</td>
          <td>properties</td>
          <td>language</td>
          <td class="text-center">
            <button [routerLink]="['editor']" class="btn">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-left"></i></a></li>
        <li class="page-item"><a class="page-link">1 de 50</a></li>
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"></i></a></li>
      </ul>
    </div>
  </div>
