<div class="container">
  <h2>Crear Propiedad</h2>
  <form class="form-group ml-3">
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <label for="exampleInputEmail1">Nombre de la propiedad</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de la propiedad">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="input-group mt-2">
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-12 mt-3">
        <button type="submit" class="btn btn-outline-warning">Crear Propiedad</button>
      </div>
     </div> 
  </form>
</div>
