<div class="container my-3">
    <div class="col-md-7 m-auto">
      <form role="form" class="form-width">
        <h4 class="form-header text-center bg-warning">Crear sub propiedad</h4>
        <div class="form-group text-left">
          <h5 class="text-dark">Información</h5>
          <hr>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <select class="custom-select" id="property_name">
              <option selected>Elegir propiedad</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="Nombre de la sub propiedad">
          </div>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-outline-warning col-md-4" type="submit">Crear</button>
        </div>
      </form>
    </div>
</div>
