.main-content {
    position: relative;
}

.main-content .navbar-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (min-width: 768px) {
    .main-content .container-fluid {
        padding-left: 39px !important;
        padding-right: 39px !important;
    }
}

@media (min-width: 576px) {
    .main-content {
        margin-left: 250px;
    }
}