<div class="accordion" id="accordionExample">
    <div class="card  ">
        <div class="card-header bg-warning" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
        <h4 class="text-center">Descripción de la planta V</h4>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body border border-warning">
                <form role="form" class="form-width">
                    <div class="form-group text-left">
                        <h5 class="text-dark">Información</h5>
                        <hr>
                    </div>
                    <div class="row mt-2">
                        <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Morfología O">
                        </div>
                        <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Raices O">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Tallos O">
                        </div>
                        <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Tallos O">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Frutos O">
                        </div>
                        <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Semillas O">
                        </div>
                    </div>
                    <div class="form-group text-left">
                        <h5 class="text-dark">Referencias bibliográficas O</h5>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="Referencias">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-outline-warning col-md-4" type="submit">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        
      


