<div class="container my-3">
  <div class="col-md-7 m-auto">
    <form ngNativeValidate (submit)="onSubmit()" role="form" class="form-width">
      <h4 class="form-header text-center bg-warning">Editar Usuario</h4>
      <div class="form-group text-left">
        <h5 class="text-dark">Información</h5>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>Fotografía del usuario</h5>
        </div>
        <div class="form-group col-md-12">
          <app-upload-file></app-upload-file>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <input [(ngModel)]="user.firstName" name="firstName" type="text" class="form-control" placeholder="Primer nombre">
        </div>
        <div class="form-group col-md-6">
          <input [(ngModel)]="user.lastName" name="lastName" type="text" class="form-control" placeholder="Apellido">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <input [(ngModel)]="user.document" name="document" type="number" class="form-control" placeholder="Número de documento">
        </div>
        <div class="form-group col-md-6">
          <input [(ngModel)]="user.phone" name="phone" type="number" class="form-control" placeholder="Número de celular">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <input [(ngModel)]="user.email" name="email" type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <input [(ngModel)]="user.address" name="address" type="text" class="form-control" placeholder="Dirección">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <app-multi-selector
            (changeSelect)="changeCountries($event)"
            *ngIf="countries.length > 0"
            [listItems]="countries"
            [placeholder]="'Seleccionar país'"
            [single]="'true'"
            [listItemsSelected]="selectCountry">
          </app-multi-selector>
        </div>
      </div>
      <div class="form-group text-left">
        <h5 class="text-dark">Profesión</h5>
        <hr>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <input [(ngModel)]="user.profession" name="profession" type="text" class="form-control" placeholder="Profesión">
        </div>
      </div>
      <div class="form-group text-left">
        <h5 class="text-dark">Permisos</h5>
        <hr>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <app-multi-selector
            (changeSelect)="changeLanguage($event)"
            *ngIf="languages.length > 0"
            [listItems]="languages"
            [placeholder]="'Seleccionar idioma'"
            [single]="'true'"
            [listItemsSelected]="selectLanguage">
          </app-multi-selector>
        </div>
        <div class="form-group col-md-6">
          <app-multi-selector
            (changeSelect)="changeCategories($event)"
            *ngIf="categories.length > 0"
            [listItems]="categories"
            [placeholder]="'Seleccionar categoría'"
            [single]="'true'"
            [listItemsSelected]="selectCategory">
          </app-multi-selector>
        </div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-outline-warning col-md-4" type="submit">Actualizar</button>
      </div>
    </form>
  </div>
</div>
