<div class="accordion" id="accordionproperties">
    <div class="card  ">
        <div class="card-header bg-warning text-center" id="headingOne" data-toggle="collapse" data-target="#collapitems" >
        <h4>propiedad</h4>
        </div>
        <div id="collapitems" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionproperties">
            <div class="card-body border border-warning">
                <form role="form" class="form-width">
                    <app-items-accordion class="mt-2"></app-items-accordion>
                </form>
            </div>
        </div>
    </div>
</div>
