<div class="accordion" id="accordionproperties">
  <div class="card">
    <div class="card-header bg-warning d-flex justify-content-between">
      <h4>{{propertyLanguage.name}}</h4>
      <button class="btn bg-transparent align-items-center" [attr.id]="propertyLanguage.id" data-toggle="collapse"
              [attr.data-target]="'#'+ 'abc' + propertyLanguage.id"><i class="fa fa-plus"></i>
      </button>
    </div>
    <div [attr.id]="'abc' + propertyLanguage.id" class="collapse" [attr.aria-labelledby]="propertyLanguage.id" data-parent="#accordionproperties">
      <div class="card-body border border-warning">
        <div class="row">
          <div class="from-group col-md-12">
            <app-multi-selector
              (changeSelect)="changepropertiesItems($event)"
              *ngIf="propertiesitemsarray.length > 0"
              [listItems]="propertiesitemsarray"
              [placeholder]="'Seleccionar subpropiedad'"
              [single]='false'
              [listItemsSelected]="selectPropertiesItems">
            </app-multi-selector>
          </div>
        </div>
        <div class="mt-2">
          <app-items-accordion [property]="item" *ngFor="let item of propertiesitemsselected" class="mt-2"></app-items-accordion>
        </div>

      </div>
    </div>
  </div>
</div>
