.header {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.content-table {
    margin-top: -7rem;
    margin-bottom: 3rem;
}

@media (max-width: 576px) {
    .header {
        position: relative;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    .content-table {
        margin-top: -3rem;
        margin-bottom: 3rem;
    }
}

.card {
    border: none !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
}

.card-stats .card-body {
    padding: 1rem 1.5rem;
}

.card-stats .card-status-bullet {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}
