<div class="container">
  <h2 class="bg-warning p-2">Listado de peticiones</h2>
        <form class="form group">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="input-group mb-3">
                  <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                  </select>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                </div>
              </div>
            </div>
          </div>
      </form>
      <div class="col-12">
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">DE</th>
                  <th scope="col">PARA</th>
                  <th scope="col">MENSAJE</th>
                  <th scope="col">ESTADO</th>
                  <th scope="col">FECHA</th>
                  <th scope="col">VIDEO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>s</td>
                  <td>s</td>
                  <td>s</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>s</td>
                  <td>s</td>
                  <td>s</td>
                </tr>
                <tr>
                  <th>3</th>
                  <td>Larry the Bird</td>
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                  <td>s</td>
                  <td>s</td>
                  <td>s</td>
                </tr>
              </tbody>
            </table>
      </div>
      
      <div class="row">
          <div class="col-lg-4">
            <button type="button" class="btn btn-outline-warning">Previous</button>
          </div>
          <div class="col-lg-4">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-warning">showing 1 to 3 of 3 entries.</button>
              <button type="button" class="btn btn btn-outline-warning">page: 1/1</button>
            </div>
          </div>
          <div class="col-lg-4">
            <button type="button" class="btn btn-outline-warning">Next</button>
          </div>
      </div>
</div>

