<div class="container my-3">
    <div class="col-md-7 m-auto">
      <form ngNativeValidate (submit)="onSubmit()" role="form" class="form-width">
        <h4 class="form-header text-center bg-warning">Editar paises paises</h4>
        <div class="form-group text-left">
          <h5 class="text-dark">Información</h5>
          <hr>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <input [(ngModel)]="country.name" name="name" type="text" class="form-control" placeholder="Nombre del país">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <app-multi-selector
              (changeSelect)="changeContinent($event)"
              *ngIf="languages.length > 0"
              [listItems]="continents"
              [placeholder]="'Seleccionar continente'"
              [single]="'true'"
              [listItemsSelected]="selectContinent">
            </app-multi-selector>
          </div>
          <div class="form-group col-md-12">
            <app-multi-selector
              (changeSelect)="changeLanguage($event)"
              *ngIf="languages.length > 0"
              [listItems]="languages"
              [placeholder]="'Seleccionar idioma'"
              [single]="'true'"
              [listItemsSelected]="selectLanguage">
            </app-multi-selector>
            <div class="text-center mt-3" *ngIf="country.image">
              <img [src]="country.image" width="100">
            </div>
            <div *ngIf="!country.image" class="form-group text-left col-md-12">
              <h5 class="text-dark">Subir imagen de la bandera del país</h5>
              <hr>
            </div>
            <div *ngIf="!country.image" class="form-group col-md-12">
              <app-upload-file></app-upload-file>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-outline-warning col-md-4" type="submit">Actualizar</button>
        </div>
      </form>
    </div>
</div>
